/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 Mar 2024, 12:20:17 pm
    Author     : zheng
*/

@charset "utf-8";

/* Some variables */
@media (prefers-color-scheme: light) {
    :root {
        --text: #000;
        --background: #fff;
        --white: #fff;
        --accent: #ff6c0e;
        --service-box: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #fff;
        --background: #000;
        --white: #fff;
        --accent: #ff6c0e;
        --service-box: #000;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tilt Neon';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 730px;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 50%;
}

.heading{
    display: flex;
    align-items: center;
}

.back-btn{
    margin-right: 20px;
    background-color: transparent;
    border: none;
    padding-bottom: 25px;
    display: none;
}

.back-btn a{
    font-size: 40px;
    color: var(--accent);
    text-decoration: none;
}

.container .heading h1{
    margin: 0;
    color: var(--text);
    font-family: 'Nunito Sans';
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

.container p{
    color: var(--text);
    font: 20px 'Nunito Sans';
    margin-bottom: 100px;
}

.psd-reset label{
    position: relative;
    height: 100%;
    bottom: 35px;
    left: 15px;
    color: darkgray;
    font-size: 18px;
    cursor: text;
    transition-duration: 0.4s;
}

.psd-reset input{
    font-size: 17px;
    width: 100%;
    padding: 25px 15px 7px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    color: var(--text);
    background: transparent;
}

.psd-reset input:focus {
    border-color: #933900;
    outline: 0;
    box-shadow: 0 2px 6px #00000026, 0 0 0 0.5px #a74100;
}

span.star{
    position: absolute;
    color: red;
    font-size: 10px;
    transition-duration: 0.1s;
}

#error_message_2{
    font-size: 16px;
    position: absolute;
    top: 290px;
    color: red;
}

/* animation */
.psd-reset input:focus ~ label,
.psd-reset input:valid ~ label{
    bottom: 50px;
    font-size: 14px;
}

.psd-reset input:focus ~ label .star,
.psd-reset input:valid ~ label .star{
    color: transparent;
}

/* submit button */
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.submit-btn div{
    flex-basis: 48%;
}

/* BACK to sign in button*/
.submit-btn a{
    color: var(--accent);
    text-decoration: none;
    padding: 7px 32px;
    font: bolder 23px Poppins;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    background-color: var(--background);
    border: 1px solid var(--accent);
    cursor: pointer;
    transition-duration: 0.5s;
}

.submit-btn a:hover{
    color: var(--background);
    background-color: var(--accent);
}

/* CONTINUE to reset button */
.submit-btn input{
    padding: 7px 32px;
    color: var(--background);
    font: bolder 23px Poppins;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--accent);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    transition-duration: 0.5s;
}

.submit-btn input:hover{
    background-color: rgb(255, 123, 38);
}

.submit-btn input:active{
    transform: scale(0.98);
}

/* Media Screen */
@media screen and (max-width: 1246px) {
    .container{
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container .heading h1{
        font-size: 33px;
    }

    .container p{
        font-size: 17px;
    }

    .submit-btn a, .submit-btn input{
        font-size: 20px;
    }

    #error_message_2{
        top: 260px;
    }
}

@media screen and (max-width: 1178px){
    #error_message_2{
        top: 275px;
    }
}

@media screen and (max-width: 960px){
    .submit-btn, .back-btn{
        display: block;
    }

    .submit-btn a{
        display: none;
    }

    .submit-btn input{
        position: relative;
        left: 0;
    }
}

@media screen and (max-width: 763px){
    .container .heading h1{
        font-size: 30px;
    }

    .container p{
        font-size: 16px;
    }

    #error_message_2{
        font-size: 14px;
    }

    .submit-btn input{
        padding: 9px 32px;
        font-size: 18px;
    }
}

@media screen and (max-width: 564px){
    .back-btn{
        display: none;
    }

    .container .heading h1{
        font-size: 25px;
    }

    .container p{
        font-size: 12px;
    }

    #error_message_2{
        top: 250px;
        font-size: 13px;
    }

    .psd-reset label, .psd-reset input{
        font-size: 15px;
    }

    span.star{
        font-size: 7px;
    }

    .psd-reset input:focus ~ label,
    .psd-reset input:valid ~ label{
        bottom: 45px;
        font-size: 13px;
    }

    .submit-btn input{
        font-size: 15px;
    }
}

@media screen and (max-width: 377px){
    .container .heading h1 {
        font-size: 20px;
    }
}